

.comprendre{

    width: 100%;
    padding: 0 0.5em;

    @media screen and (min-width: $main-column-breakpoint) {
        padding: 0 $column-padding;
        max-width: $column-max-width;
    }

}
